@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200&display=swap');
h1 {
  font-family: 'Cormorant Upright', serif;
}

.header {
  width: 100%;
  height: 30em;
  display: block;
  position: relative;
  margin: 0 auto;
}
.title h1 {
  margin-left: 2em;
  padding-top: 2em;
  font-size: 4em;
  color: black;
}

.header::after {
  content: '';
  background-image: url(./Pictures/coffeepictures.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.65;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.serviceList {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
  font-size: 15pt;
  font-family: 'Cormorant Upright', serif;
  position: relative;
  top: 210px;
  color: black;
}

.motto {
  text-align: center;
  padding: 3em 0
}

.headerCell {
  padding: 6em 0;
  text-align: center;
  font-family: 'Cormorant Upright', serif;
}

.serviceRow {
  margin: 3em 0;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0;
}

.colImg {
  position: relative;
  left: auto;
  padding: 1em
}

.servImg {

  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

.footerBlock {
  text-align: center;
  background-color: rgba(124, 67, 25, 0.425);
  padding: 1em 0em;
  font-family:'Cormorant Upright', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerBlock p {
  margin: 0;
}

.bookForm {
  width: 40%;
  margin: 0em auto;
  padding-top: 3em;
  padding-bottom: 7em;
}

.bookHeader {
  width: 100%;
  height: 30em;
  display: block;
  position: relative;
}
.bookHeader::after {
  content: '';
  background-image: url(./Pictures/CodeDevelopment.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.65;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.bookHeader h1 {
  padding-top: 5em;
  margin-left: 3em;
}

.form {
  margin-top: 2em;
}

.btnForm {
  margin-right: 1em;
  margin-top: 1em;
}

.backgroundImg {
  width: 100%;
  height: 50em;
  display: block;
  position: relative;
}

.backgroundImg::after {
  content: '';
  background-image: url(./Pictures/blackboard.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.cardContainer {
  padding-top: 3em;
  display: flex;
  justify-content: center;

}
.containerRow {
  padding-top: 7em;
  width: 100%;
}

.cardService {
  width: 18em;
}

.card-img {
  opacity: 0.4;
}

.portfolioBg {
  padding: 5em 0em;
}

/*Screen Size Functions*/

@media (min-width: 800px) {
  /* Horizontal list */
  .serviceList ul li {
    display: inline-block;
  }
  .serviceList ul li:before {
    content: '\00a0\2022\00a0\00a0';
    color: #999;
    color: black;
    font-size: 11px;
  }
  .serviceList ul li:first-child:before {
    content: '';
  }
}

/* smaller screens */
@media (max-width: 800px) {
  .title h1 {
    font-size: 3em;
    padding-top: 1em;
  }
  .bookForm {
    width: 90%;
  }

  .backgroundImg {
    width: 100%;
    height: 70em;
  }
  .containerRow {
    padding-top: 1em;
    padding-bottom: 1em;
  }

}
